<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application />
    <!-- Developer - Harsh Kumar Singh -->
    <!-- UI - Harsh Kumar Singh -->
    <!-- Programmer - Harsh Kumar Singh -->
    <!-- Company - Sneva Technologies Pvt Ltd -->
    <!-- GolaLibrary developed by harsh -->
    <!-- Company Date - 2019 - 2022 -->
</manifest>